[user]
	name = wada811
	email = at.wada811@gmail.com
[core]
	excludesfile = ~/.gitignore
	precomposeunicode = true
[color]
	ui = true
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[help]
	autocorrect = 20
[diff]
	compactionHeuristic = true
[diff "json"]
	textconv = "jq ."
[fetch]
	all = true
	prune = true
[merge]
	ff = false
[pull]
	ff = only
[commit]
	template = ~/dotfiles/git/commit_template
[push]
	default = simple
[alias]
	st = status
	ch = checkout
	co = commit
	lg = log --all --graph --decorate --oneline
	cp = cherry-pick
	fix = commit --amend --allow-empty-message -m ""
	# Separate merged commit by `git commit --amend`
	separate = reset HEAD@{1}
	# Revert commit
	cancel-commit = reset --soft HEAD^
	# Revert merge
	cancel-merge = reset --hard ORIG_HEAD
	# Delete merged branches
	delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
