[user]
	name = wada811
	email = at.wada811@gmail.com
[core]
	excludesfile = ~/.gitignore
	precomposeunicode = true
[color]
	ui = true
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[diff "json"]
	textconv = "jq ."
[merge]
	ff = false
[pull]
	ff = only
[alias]
	lg = log --all --graph --decorate --oneline
	cp = cherry-pick
	fix = commit --amend
	# Separate merged commit by `git commit --amend`
	separate = reset HEAD@{1}
	# Revert commit
	cancel-commit = reset --soft HEAD^
	# Revert merge
	cancel-merge = reset --hard ORIG_HEAD
	# Delete merged branches
	delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
